<h1>Pregunta al coach</h1>

<form action="/answer" method="get">
<%# action es a donde se dirige %>
  <input type="text" name="answer", placeholder="Haz tu pregunta al coach">
  <input type="submit" value="ask">
</form>
